<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>119644190560-2h51nvn18ltjmc29v1pm2pphuqk2f9eg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.119644190560-2h51nvn18ltjmc29v1pm2pphuqk2f9eg</string>
	<key>API_KEY</key>
	<string>AIzaSyDyZ9iY8PCTb4C-J9wY09vwm_Adnm7Ieyw</string>
	<key>GCM_SENDER_ID</key>
	<string>119644190560</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.bluehiveEcommerceTest</string>
	<key>PROJECT_ID</key>
	<string>blue-hive-ecommerce</string>
	<key>STORAGE_BUCKET</key>
	<string>blue-hive-ecommerce.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:119644190560:ios:0df13569de4d1250729005</string>
</dict>
</plist>